<h3>Employee Details..</h3>
<div class="row">
  <div class="col">Id</div>
  <div class="col">{{ employeeDetails.id }}</div>
</div>
<div class="row">
  <div class="col">Name</div>
  <div class="col">{{ employeeDetails.name }}</div>
</div>
<div class="row">
  <div class="col">email</div>
  <div class="col">{{ employeeDetails.email }}</div>
</div>
<div class="row">
  <div class="col">Gender</div>
  <div class="col">{{ employeeDetails.gender }}</div>
</div>
<div class="row">
  <div class="col">dob</div>
  <div class="col">{{ employeeDetails.dob }}</div>
</div>
<div class="row">
  <div class="col">Dept</div>
  <div class="col">{{ employeeDetails.dept }}</div>
</div>
